* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.grid-container {
  background-color: white;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
  box-sizing: border-box;
}
