* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.grid-container {
  border: 2px solid black;
  background-color: white;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
  box-sizing: border-box;
  border: 0.5px solid gray;
}

button {
  display: flex;
  padding: 10px;
  margin: 20px 80px auto 20px;
  color: #fff;
  background: #4583ff;
  border-color: 1px solid #195de6;
  border-radius: 12px;
  font-size: 25px;
}

button:hover {
  background: #195de6;
  color: whitesmoke;
}
